DOMAIN=https://livechat-api.nevylish.fr/
FRONTEND_URI=https://livechat.nevylish.fr/
OVERLAY_URI=https://livechat-overlay.nevylish.fr/
LIVECHAT_PORT=3000
TOKEN=
DISCORD_WEBHOOK_LOGS=
TENOR_API_KEY=
GIPHY_API_KEY=
SKU_PLUS_ID=